<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Daily Journal</title>
  <meta charset="utf-8">

  <!-- note: bootstrap version 3.3.7 -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <link rel="stylesheet" href="/css/styles.css">
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <p class="navbar-brand">DAILY JOURNAL</p>
      </div>
      <!-- Navigation Bar -->
      <ul class="nav navbar-nav navbar-right">
        <!-- href will send browser back thru routes on server -->
        <li><a href="/">HOME</a></li>
        <li><a href="/compose">COMPOSE</a></li>
        <li><a href="/about">ABOUT US</a></li>
        <li><a href="/contact">CONTACT US</a></li>
        <!-- id not necessary: removed -->
        <!-- <li id="home"><a href="/">HOME</a></li> -->
        <!-- <li id="about"><a href="/about">ABOUT US</a></li> -->
        <!-- <li id="contact"><a href="/contact">CONTACT US</a></li> -->
      </ul>
    </div>
  </nav>

<body>
  <!-- The inline style parameters below mimic bootstrap pre-scrollable css definition -->
  <!-- max-height: 340px; overflow-y: scroll; -->
  <!-- vh is for percentage of viewport height, here 55% -->
  <!-- 55vh overrides bootstrap 340px and ekes out just a little more space inside viewport -->
  <!-- goto www.getbootstrap.com > Source files: Download source  -->
  <!-- download the bootstrap source and look in bootstrap-x.x.x > dist > css > bootstrap.css -->
  <!-- search for pre-scrollable -->
  <div class="container" style="overflow-y:scroll;max-height:55vh">
