<!-- this is called an EJS partial, part of EJS layouts -->
<%- include("partials/header") %>

<h1>About</h1>

<p> <%= aboutContent %> </p>

<!-- this is called an EJS partial, part of EJS layouts -->
<%- include("partials/footer") %>
