<!-- this is called an EJS partial, part of EJS layouts -->
<%- include("partials/header") %>

<h1>Contact</h1>

<p> <%= contactContent %> </p>

<!-- this is called an EJS partial, part of EJS layouts -->
<%- include("partials/footer") %>
